<br><br><br>
<div class= "container">
  <center>     
      <%- model_class = Website -%>
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @website.name %></dd>
        <dd><%= @website.days %></dd>
        <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
         <dd><%= @website.price %></dd>
      </dl>

      <%= link_to t('.back', :default => t("helpers.links.back")),
                    websites_path, :class => 'btn btn-default'  %>
  </center>
</div>
<br>