<br><br>       
<body>
    <center>
    <div class= "img">
        <%= image_tag "images14.jpg", class: "img-responsive", class: "jumbotron" %>
    </div>
        <form>
                <div class="container">
                    <div class="form-row">
                        <div class="input-group">
                            <%= search_form_for @search, url: websites_path, method: :post do |f| %>
                                <div class="col-12 col-md-9 ">
                                <%= f.search_field :name_cont, class: "form-control form-control-lg", placeholder: "What are you looking for? ", class: 'form-control'%>
                                </div>
                                <div class="col-12 col-md-3">
                                <%= f.submit class: "btn btn btn-primary"  %>
                                </div>
                            <% end %><br>
                             </div>
                        </div>
                        <div class="col-12 col-md-9 ">
                            <label class="con">WEBSITE
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-12 col-md-9 ">
                            <label class="con">APP
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-12 col-md-9 ">
                            <label class="con">DOMAIN
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                 </div>
            </form>
       <br><br><br><br><br><br><br><br><br><br><br>

        <%= image_tag "image11.jpeg", class: "img-responsive" %>
    </center>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-9">
                    <h3 style= "font-size:20px;"><b><%= link_to "EDITOR’S CHOICE" %></b></h3>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "Euphemism.com" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image02.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$777</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <%= link_to "watch", new_user_session_path, class: "btn btn btn-success" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "Sweepstakes.org" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image01.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$500</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success" %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "BdayWishes.org" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image03.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$3500</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success" %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "JotBear" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image04.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$3500</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success" %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "WebService.com" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image05.jpg", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$5500</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success"  %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "Colored Challenge" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image06.jpg", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5>$1500</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success"  %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "Mena.co" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image07.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                    <h5 class="price-text-color">$1051</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success"  %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h2 style= "font-size:20px;"><%= link_to "All Cars" %></h2>
                                            </div>
                                            <div class= square>
                                                <div class="photo">
                                                    <%= image_tag "image08.png", class: "img-responsive" %>   
                                                </div>
                                                <div class="rating hidden-sm col-md-6">
                                                   <h5 class="price-text-color">
                                                    $6050</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <%= link_to "watch", new_user_session_path, class: "btn btn btn-success"  %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br> 
    <div class="w3-container w3-cell w3-cell-left">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th style= "font-size:20px;"><%= link_to "FEATURED WEBSITES", websites_path %></th>
                </tr>
            </thead>
            <tbody>
                <% @websites.each do |website| %>
                    <tr> 
                        <td><%= link_to website.name, website_path(website) %></td>
                        <td><%= website.days %></td>
                        <td><b><%= number_to_currency website.price %></b></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'SEE ALL', apps_path, :class => 'btn btn-default btn--md' %>
    </div>
    <div class="w3-container w3-cell w3-cell-middle">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th style= "font-size:20px;"><%= link_to "FEATURED DOMAINS", domains_path %></th>
                </tr>
            </thead>
            <tbody>
                <% @domains.each do |domain| %>
                      <tr>
                        <td><%= link_to domain.name, domain_path(domain) %></td>
                        <td><%= domain.days %></td>
                        <td><b><%= number_to_currency domain.price %></b></td>
                      </tr>
                <% end %>
            </tbody>
        </table>
            <%= link_to 'SEE ALL', apps_path, :class => 'btn btn-default btn--md' %>
    </div>
    <div class="w3-container w3-cell w3-cell-right">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th style= "font-size:20px;"><%= link_to "FEATURED APPS", apps_path %> </th>
                </tr>
            </thead>
            <tbody>
                <% @apps.each do |app| %>
                    <tr> 
                        <td><%= link_to app.name, app_path(app) %></td>
                        <td><%= app.days %></td>
                        <td><b><%= number_to_currency app.price %></b></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'SEE ALL', apps_path, :class => 'btn btn-default btn--md' %>
    </div>
    <br>
    <br>
        <div class="row">
            <h2><div class="col-sm-3">
                    <div class="rectangle">
                        <strong>6,744</strong><br><h5> bids this week</h5>
                    </div>
                </div></h2>
            <h2><div class="col-sm-3">
                    <div class="rectangle">
                        <strong>2,093,752</strong><br><h5>Open Listing</h5>
                    </div>
            </div></h2>
            <h2><div class="col-sm-3">
                    <div class="rectangle">
                        <strong>$205,417,732</strong><br><h5>Overall Sales</h5>
                    </div>
            </div></h2>
            <h2><div class="col-sm-3">
                <div class="padding">
                    <strong>$366,658</strong><br><h5>sales This week</h5>
                </div>
            </div></h2>
        </div>
    <br>
    <div class ="hr"></div>
    <br>
    <br>
    <center><solid><h2>Buy and sell online businesses</h2></solid><br>
        <button class="button"><%= link_to "WEBSITE", websites_path %></button>
        <button class="button button2"><%= link_to "DOMAIN", domains_path %></button>
        <button class="button button3"><%= link_to "APPS", apps_path %></button>
        <button class="button button4"><%= link_to "SOPIFY" %></button>
        <button class="button button5"><%= link_to "AMAZON FBA" %></button>
    </center>
    <br>
    <br>
    <br>
</body>