<!--Footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12">
           <%= link_to "SELLING ON FLIPPA" %>
          <%= link_to "PRICING" %>
          <%= link_to "SUPPORT" %>
          <%= link_to "ABOUT US" %>
          <%= link_to "CARRIER" %>
          <%= link_to "BLOG" %>
      </div>
    </div>
  </div>
  <div class="container text-left">
    <p align="right">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-github"></a>
    </p>
  </div><!--End container-->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <p align="right">
          COPYRIGHT © 2017 COMPANY.COM PTY LTD. ALL RIGHTS RESERVED.   
          TERMS  
          PRIVACY    
          SITE RULES   
        </p>
      </div>
    </div>
  </div>
</footer>
            
